* {
  box-sizing: border-box;
}
:root{
	--bs-navy:#071952;
	--bs-teal:#088395;
	--bs-light-teal:#37B7C3;
	--bs-light-blue:#EBF4F6;
}
			body{
				background-color: var(--bs-teal);
				font-family: Comic Sans MS, Monotype Corsiva;
				background-image:url("background image.jpg");
				
			}
			h1 {
				text-align: center;
				
				border-radius: 10px;
				width: 500px;
				background: var(--bs-teal);
				color:var(--bs-light-blue);
				margin: 10px auto 10px auto;
			}
			h2{
				background-color: var(--bs-light-teal);
				border-radius: 10px;
				width: 400px; 
				text-align: center;
				border: solid var(--bs-navy) 2px;
				opacity:0.75;
				margin: 10px auto 10px auto;
				color:var(--bs-light-mint);
				content: "";
  				display: table;
  				clear: both;
			}
			.btns {
				font-size: 18px;
		
				width: 300px;
				height: 25px;
				padding:1px;
				text-align: center;
				border: 0.1rem solid var(--bs-navy);
				margin-bottom: 1rem;
				text-decoration: none;
				color: var(--bs-light-blue);
				background-color: var(--bs-light-teal);
				
}
		
		.btns:hover {
				cursor: pointer;
				box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
				transform: translateY(-0.1rem);
				transition: transform 150ms;
		  }

		  .btns[disabled]:hover {
				cursor: not-allowed;
				box-shadow: none;
				transform: none;
		  }
		  button{
			background-color: var(--bs-light-teal);
		  }
			img{
				border: 5px solid rgb(0, 0, 0);
				margin: 10px 30px 10px 10px;}
			.img_keep{
					border: 5px solid rgb(0, 0, 0);
					margin: 10px 30px 10px 10px;
						width: 700px;
						height: 400px;
					text-align: center;}
			video{
				float: left;
				background-color: aqua;
				border-radius: 10px;
			}
			.header{
				
				background-color:rgb(10,148,178);
				border-radius: 10px;
				border-bottom: 5px solid black;
			}
			
			p{
				background:rgb(255,255,255);
				opacity:0.75;
			}
			ul{
				background:rgb(255,255,255);
				opacity:0.75;
			}
			.description{
				float: right;
				background-color: rgb(8,198,208);
				
				
			}
			.title{
				float: left;
				width:200px;
			}
			.column {
  				float: left;
  				padding: 10px;
			}
			.column.left{
				width:60%
			}
			.column.right{
				width:40%
			}
			.row::after {
  				content: "";
  				display: table;
  				clear: both;
			}
		
			@media screen and (max-width: 600px) {
  				.column.left, .column.right {
   					 width: 100%;
  				}
			}
			
			
			#clock{
				font: bold 24px sans serif;
				background: var(--bs-light-blue);
				padding: 15px;
				border: solid black 2px;
				border-radius: 10px;
			}
			
			ul{
				background:rgb(255,255,255);
				opacity:0.75;
			}
			
			img{
				border: 5px solid rgb(0, 0, 0);
				margin: 10px 30px 10px 10px;
				height: 200px;
				width: 400px;
			}
			
			.projects{
				height:180px;
			}
			 .flex-column {
    				display: flex;
    				flex-direction: column;
  			}
  
  			.flex-center {
    				justify-content: center;
    				align-items: center;
  			}
			
