* {
  box-sizing: border-box;
}
			body{
				background-color: rgb(8,198,208);
				font-family: Comic Sans MS, Monotype Corsiva;
				background-image:url("W098.jpg");
				background-size:cover;
			}
			h1 {
				text-align: center;
				border: solid 5px rgb(52,24,65);
				border-radius: 10px;
				width: 500px;
				margin: 10px auto 10px auto;
			}
			h2{
				background-color: rgb(10,148,178);
				border-radius: 10px;
				width: 200px; 
				padding-right: 60%;
				padding-left: 10px;
			}
			img{
				border: 5px solid rgb(0, 0, 0);
				margin: 10px 30px 10px 10px;}
			.img_keep{
					border: 5px solid rgb(0, 0, 0);
					margin: 10px 30px 10px 10px;
						width: 700px;
						height: 400px;
					text-align: center;}
			video{
				float: left;
				background-color: aqua;
				border-radius: 10px;
			}
			.header{
				
				background-color:rgb(10,148,178);
				border-radius: 10px;
				border-bottom: 5px solid black;
			}
			
			h2{
				content: "";
  				display: table;
  				clear: both;
			}
			p{
				background:rgb(255,255,255);
				opacity:0.75;
			}
			ul{
				background:rgb(255,255,255);
				opacity:0.75;
			}
			.description{
				float: right;
				background-color: rgb(8,198,208);
				
				
			}
			.title{
				float: left;
				width:200px;
			}
			.column {
  				float: left;
  				padding: 10px;
			}
			.column.left{
				width:60%
			}
			.column.right{
				width:40%
			}
			.row::after {
  				content: "";
  				display: table;
  				clear: both;
			}
		
			@media screen and (max-width: 600px) {
  				.column.left, .column.right {
   					 width: 100%;
  				}
			}
