:root{
    --bs-purple: #776AE3;
    --bs-green: #88E570;
    --bs-yellow: #FBFF67;
    --bs-orange: #FFB44A;
}
*{
    background-color: var(--bs-green);
    text-align: center;
}
button{
    height: 60px;
    width: 100px;
    background-color: var(--bs-purple);
}
h3{
    background-color: var(--bs-purple);
}
.body{
    border: solid ;
    margin:20px;
    border-radius: 10px;
    padding: 10px;
}